.App {
  text-align: center;
}
@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }
  30% {
    background-color: #66bf39;
  }
  60% {
    background-color: #eb670f;
  }
  90% {
    background-color: #f35;
  }
  100% {
    background-color: #864cbf;
  }
}

body {
  /* -webkit-animation: bgcolor 40s infinite; */
  animation: bgcolor 40s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
h1 {
  font-size: 4rem;
  color: #3c3c3c;
  font-family: "Trebuchet MS", sans-serif;
  margin: 1rem;
}
p {
  font-size: 2rem;
  margin: 20px auto;
  width: 90%;
}

img {
  width: 60%;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box,
.letter-box-wrong,
.letter-box-part-correct,
.letter-box-correct {
  margin: 7px;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 3px;
  background: silver;
}

.letter-box-wrong {
  background: #686767;
}

.letter-box-part-correct {
  border-radius: 100%;
  background: rgb(135, 135, 135);
}

.letter-box-correct {
  height: 2.25rem;
  width: 4rem;
  background: #262626;
  color: #d6d6d6;
}

.letter-box-correct::before {
  content: "";
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 1.25rem solid #262626;
  position: absolute;
  top: -1.2rem;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.letter-box-correct::after {
  content: "";
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 1.25rem solid #262626;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 102px;
  min-width: 500px;
  font-size: 3rem;
  font-weight: 700;
  margin: 1px;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
}

.keyboard-button {
  min-width: 3rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.ColorDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 2rem;
  min-width: 500px;
}

#answer,
#currentGuess {
  border: 3px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  height: 9rem;
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
